<a href="https://colab.research.google.com/github/faznafathima/Assignments/blob/main/fazna_fathima_shaju__postgersql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\programdata\anaconda3\lib\site-packages (2.9.4)

WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)

In [ ]:
import psycopg2 as ps2

In [ ]:
connection=ps2.connect(user="postgres",
                password="root123",
                host="localhost",
                port="5432",
                      database="iris_database")

connection.autocommit= True

In [ ]:
import pandas as pd

In [ ]:
cursor= connection.cursor()

In [ ]:
cursor.execute('''SELECT * FROM IRIS''')

In [ ]:
column_names=['sepal_length','sepal_width','petal_length','petal_width',' species']

In [ ]:
df=pd.DataFrame(cursor.fetchall(),columns=column_name)

In [ ]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
295           6.7          3.0           5.2          2.3  Iris-virginica
296           6.3          2.5           5.0          1.9  Iris-virginica
297           6.5          3.0           5.2          2.0  Iris-virginica
298           6.2          3.4           5.4          2.3  Iris-virginica
299           5.9          3.0           5.1          1.8  Iris-virginica

[300 rows x 5 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  300 non-null    float64
 1   sepal_width   300 non-null    float64
 2   petal_length  300 non-null    float64
 3   petal_width   300 non-null    float64
 4    species      300 non-null    object
dtypes: float64(4), object(1)
memory usage: 11.8+ KB

Only column is categorical type (Species)
No null values

In [ ]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    300.000000   300.000000    300.000000   300.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.826680     0.432869      1.761467     0.761883
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

#### Data Cleaning

In [ ]:
df.isnull().sum() # to chech null value

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
 species        0
dtype: int64

In [ ]:
df.isna() # to chech NA values

     sepal_length  sepal_width  petal_length  petal_width   species
0           False        False         False        False     False
1           False        False         False        False     False
2           False        False         False        False     False
3           False        False         False        False     False
4           False        False         False        False     False
..            ...          ...           ...          ...       ...
295         False        False         False        False     False
296         False        False         False        False     False
297         False        False         False        False     False
298         False        False         False        False     False
299         False        False         False        False     False

[300 rows x 5 columns]

No missing values in the dataset.

In [ ]:
#Removing Null values or NAN values from the dataset
df.dropna(axis=0,inplace =True)

In [ ]:
#Inserting new records
for i in df.index:
    
    query='''insert into iris (sepal_length,sepal_width,petal_length,petal_width)
    values (%s,%s,%s,%s)'''
    record=(df['sepal_length'][i],df['sepal_width'][i],df['petal_length'][i],df['petal_width'][i])
    cursor.execute(query, record)
    connection.commit()

In [ ]:
cursor.close()

In [ ]:
connection.close()



---



---